

<div id='clinicvisit'>
<form class="ui form">

  <!--
  ENCOUNTER INFO
  -->

  <h3 class="ui dividing header">Encounter Information</h3>
    <div class="two fields">
      <div class="field">
        <label>Date of Encounter</label>
          <div class="field">
            {{input type="text" value=dateOfEncounter placeholder="MM-DD-YYYY"}}
          </div>
      </div>
      <div class="field">
        <label>Pre-Operative Diagnosis</label>
        {{ember-selectize
            content=controller.preoperativeDiagnosis
            maxItems=1
            disabled=false
            selection=controller.selectedPreoperativeDiagnosis
            placeholder="Select an item"
            }}      
      </div>
    </div>

    <div class="two fields">
      <div class="field">
        <label>Presenting Symptoms</label>
          {{ember-selectize
            content=controller.presentingSymptoms
            selection=controller.selectedPresentingSymptoms
            placeholder="Select Symptoms"
            multiple="true"}}
      </div>
      <div class="field">
        <label>Past Surgical History</label>
        {{ember-selectize
            content=controller.pastSurgicalHistory
            selection=controller.selectedPastSurgicalHistory
            placeholder="Select an item"
            multiple="true"}}
      </div>
    </div>

  <!--
  PHYSICAL EXAM
  -->

 <h3 class="ui dividing header">Physical Exam</h3>
    <h4 class="ui block top attached header">Neuro Exam</h4>
      <div class="ui bottom attached secondary segment">
        <div class="field">
        <div class="two ui fluid buttons">
          <div {{action 'setNeuroExamStatus' 'Normal'}} class="ui positive button">Normal</div>
          <div class="or"></div>
          <div {{action 'setNeuroExamStatus' 'Abnormal'}} class="ui button">Abnormal</div>
        </div>
          </div>
            {{#if neuroExamStatus}}
              {{partial 'normal-neuro-exam'}}
            {{else}}
              {{partial 'neuro-exam'}}
            {{/if}}
    </div>

  <!--
  LABS
  -->
 <h3 class="ui dividing header">Labs</h3>
    <h4 class="ui block top attached header">Endocrine Panel</h4>
      <div class="ui bottom attached secondary segment">
        <div class="field">
          <div class="two ui fluid buttons">
            <div {{action 'setLabStatus' true}} class="ui positive button">Available</div>
            <div class="or"></div>
            <div {{action 'setLabStatus' false}} class="ui button">Not Available</div>
          </div>
        </div>
        {{#if labStatus}}
          {{partial 'available-lab'}}
        {{else}}
          {{partial 'unavailable-lab'}}
        {{/if}}
    </div>

  <!--
  IMAGING
  -->

  <h3 class="ui dividing header">Imaging</h3>
    <div class="field">
      <div class="two ui fluid buttons">
        <div {{action 'setImagingStatus' 'Available'}} class="ui positive button">Available</div>
        <div class="or"></div>
        <div {{action 'setImagingStatus' 'Not Available'}} class="ui button">Not Available</div>
      </div>
    </div>
    {{#if imagingStatus}}
      {{partial 'available-imaging'}}
    {{else}}
      {{partial 'unavailable-imaging'}}
    {{/if}}

  <!--
  PATHOLOGY
  -->

  <h3 class="ui dividing header">Pathology</h3>
    <div class="field">
      <div class="two ui fluid buttons">
        <div {{action 'setPathologyStatus' 'Available'}} class="ui positive button">Available</div>
        <div class="or"></div>
        <div {{action 'setPathologyStatus' 'Not Available'}} class="ui button">Not Available</div>
      </div>
    </div>
    {{#if pathologyStatus}}
      {{partial 'available-pathology'}}
    {{else}}
      {{partial 'unavailable-pathology'}}
    {{/if}}

  <div class="ui error message">
    <div class="header">We noticed some issues</div>
  </div>
  {{#link-to 'patient' class="ui grey button"}}
    Cancel
  {{/link-to}}
  <div {{action 'registerEncounter'}}class="ui positive right labeled icon button" style="float: right;">
    Submit<i class="checkmark icon"></i>
  </div>
</form>
</div>