<div class="field">
        <label>Date of Lab</label>
          {{input type="text" value=dateOfLab disabled=controller.labDisabled placeholder="MM-DD-YYYY"}}
      </div>
      <div class="two fields">
        <div class="field">
          <label>T3</label>
          {{input type="text" value=T3 disabled=controller.labDisabled placeholder="ng/dL"}}
        </div>
        <div class="field">
          <label>Free T4</label>
          {{input type="text" value=T4 disabled=controller.labDisabled placeholder="ng/dL"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>TSH</label>
          {{input type="text" value=TSH disabled=controller.labDisabled placeholder="%"}}
        </div>
        <div class="field">
          <label>T3 Uptake</label>
          {{input type="text" value=T3uptake disabled=controller.labDisabled placeholder="ul U/mL"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>AM Cortisol</label>
          {{input type="text" value=AMcortisol disabled=controller.labDisabled placeholder="ug/dL"}}
        </div>
        <div class="field">
          <label>PM Cortisol</label>
          {{input type="text" value=PMcortisol disabled=controller.labDisabled placeholder="ug/dL"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Prolactin</label>
          {{input type="text" value=prolactin disabled=controller.labDisabled placeholder="ng/mL"}}
        </div>
        <div class="field">
          <label>Somatomedin</label>
          {{input type="text" value=somatomedin disabled=controller.labDisabled placeholder="ng/mL"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Testosterone</label>
          {{input type="text" value=testosterone disabled=controller.labDisabled placeholder="ng/mL"}}
        </div>
        <div class="field">
          <label>Growth Hormone</label>
          {{input type="text" value=growthHormone disabled=controller.labDisabled placeholder="ng/mL"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Free Testosterone & Estrogen</label>
          {{input type="text" value=freeTestEst disabled=controller.labDisabled placeholder="Total"}}
        </div>
        <div class="field">
          <label>Aldosterone</label>
          {{input type="text" value=aldosterone disabled=controller.labDisabled placeholder="mL U/mL"}}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>LS</label>
            {{input type="text" value=LS disabled=controller.labDisabled placeholder="mL U/mL"}}
        </div>
        <div class="field">
          <label>FSH</label>
          {{input type="text" value=FSH disabled=controller.labDisabled placeholder="mL U/mL"}}
        </div>
        <div class="field">
          <label>ACTH</label>
          {{input type="text" value=ACTH disabled=controller.labDisabled placeholder="pg/mL"}}
        </div>
      </div>