<div id='neuroExam'>
        <div class="field">
          <label>CN I</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam id='CNI' value='Normal'}}
        </div>
      <div class="two fields">
        <div class="field">
          <label>CN II (Left)</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN II (Right)</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN III</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN III</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN IV</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN IV</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN V</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN V</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VI</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN VI</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VII</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN VII</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VIII</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN VIII</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN IX</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN IX</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN X</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN X</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN XI</label>
            {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN XI</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN XII</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
        <div class="field">
          <label>CN XII</label>
          {{ui-dropdown class='ui fluid search selection dropdown' content=neuroExam value='Normal'}}
        </div>
      </div>
      </div>