<div id='neuroExam'>
        <div class="field">
          <label>CN I</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            disabled=controller.examDisabled
            default='Normal'
            selection=controller.selectedcnI
            placeholder="Normal"}}
        </div>
      <div class="two fields">
        <div class="field">
          <label>CN II (Left)</label>
            {{ember-selectize
            content=controller.cnII
            selection=controller.selectedcnIILeft
            disabled=controller.examDisabled
            maxItems=1
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN II (Right)</label>
          {{ember-selectize
            content=controller.cnII
            selection=controller.selectedcnIIRight
            disabled=controller.examDisabled
            maxItems=1
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN III</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIIILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN III</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIIIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN IV</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIVLeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN IV</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIVRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN V</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVLeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN V</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VI</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN VI</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VII</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVIILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN VII</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVIIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN VIII</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVIIILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN VIII</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnVIIIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN IX</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIXLeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN IX</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnIXRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN X</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXLeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN X</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN XI</label>
            {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN XI</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>CN XII</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXIILeft
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
        <div class="field">
          <label>CN XII</label>
          {{ember-selectize
            content=controller.neuroExam
            maxItems=1
            selection=controller.selectedcnXIIRight
            disabled=controller.examDisabled
            placeholder="Normal"}}
        </div>
      </div>
      </div>